body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.menu {
    list-style-type: none;
    padding: 0;
    display: flex;
    background-color: #4CAF50; /* Dark Green */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.menu-item {
    position: relative;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
}
.menu-item:hover {
    background-color: #45a049; /* Lighter Green */
}
.submenu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #45a049; /* Dark Gray */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 0;
    list-style-type: none;
    z-index: 1;
}

.menu-item:hover > .submenu {
    display: block;
}

.submenu-item:hover > .submenu {
    display: block;
}

.submenu-item {
    padding: 10px;
    color: white;
    text-decoration: none;
    display: block;
}
.submenu-item:hover {
    background-color: #575757; /* Darker Gray */
}

